.forgot-password-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    padding: 20px;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; /* Ancho máximo del formulario */
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input {
    height: 40px;
    border: 1px solid gray;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  
  .forgotpassword-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forgotpassword-button:hover {
    background-color: darkblue;
  }