/*/styles/forgotpassword.css*/
.forgot-password-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    padding: 20px;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; /* Ancho máximo del formulario */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .input {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 4px;
  }
  
  .forgotpassword-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px; /* Añadido margen superior para espacio adicional */
  }
  
  .forgotpassword-button:hover {
    background-color: darkblue;
  }

  @media (max-width: 500px) {
    .forgot-password-form {
        padding: 15px; /* Ajustar el padding en pantallas pequeñas */
    }

    .title {
        font-size: 20px; /* Disminuir tamaño de texto en pantallas pequeñas */
    }

    .input {
        height: 35px; /* Ajustar altura del input */
    }

    .forgotpassword-button {
        padding: 8px 15px; /* Ajustar el padding del botón */
    }
}