/* src/styles/LoginScreen.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0; /* Asegúrate de que no haya margen */
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea los elementos desde arriba */
    align-items: center; /* Centrar horizontalmente */
    height: 100vh; /* Usa el alto de la ventana */
    padding-top: 50px; /* Espaciado desde arriba */
  }
  
  .login-title {
    font-weight: bold;
    font-size: 24px; /* Tamaño de fuente mayor */
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Ancho máximo del formulario */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: white; /* Fondo blanco para la tarjeta */
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e1e0e1;
    color: black;
  }
  
  .password-toggle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .password-toggle input {
    margin-right: 5px;
  }
  
  .login-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .login-button:hover {
    background-color: darkblue;
  }
  
  .links-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .link {
    color: blue;
    margin: 5px;
    text-decoration: none; /* Sin subrayado */
  }
  
  .link:hover {
    text-decoration: underline; /* Añadir subrayado al pasar el ratón */
  }
  
  /* Botón de descarga en la esquina inferior derecha */
.download-app-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #3cba54; /* Verde más oscuro que el logo de Android */
  color: white;
  padding: 15px 25px; /* Botón más grande */
  font-size: 16px; /* Texto más grande */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-app-button:hover {
  background-color: #349e46; /* Verde más oscuro al pasar el ratón */
}

/* Responsividad */
@media (max-width: 500px) {
  .download-app-button {
    padding: 12px 20px; /* Reducir padding en pantallas pequeñas */
    font-size: 14px; /* Reducir tamaño de texto */
    bottom: 10px;
    right: 10px;
  }
}

  /* Responsividad */
@media (max-width: 500px) {
  .login-title {
      font-size: 20px; /* Disminuir tamaño de texto en pantallas pequeñas */
  }

  .login-input {
      height: 35px; /* Ajustar altura del input */
  }

  .login-button {
      padding: 8px 15px; /* Ajustar el padding del botón */
  }
}