/* MapStyle.css */
.map-container {
  width: 100%;
  height: calc(100vh - 60px); /* Ajusta el header si tiene otra altura */
  position: relative;
}

.controls-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.map-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.map-button:hover {
  background-color: #0056b3;
}

.user-location-circle {
  width: 20px;
  height: 20px;
  background-color: #4285F4; /* Color azul */
  border-radius: 50%;
  border: 2px solid white; /* Borde blanco para que destaque */
  box-shadow: 0 0 10px rgba(66, 133, 244, 0.6); /* Sombra suave para efecto */
  transform: translate(-50%, -50%); /* Centrar el círculo en el punto */
}
